<div class="grid grid-cols-1 gap-6">
    <label class="block">
        <span class="text-gray-500">Full name</span>
        <input type="text" class="
              bg-black
              mt-0
              block
              w-full
              px-0.5
              border-0 border-b-2 border-gray-200
              focus:ring-0 focus:border-black" placeholder="">
    </label>

    <fieldset class="block">
        <legend class="text-gray-500">Pronouns <span class="block text-sm">Check one or more options for the
                set(s) of pronouns you want me to use when we talk together.</span></legend>
        <div class="mt-2">
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label class="inline-flex items-center">
                        <input class="form-checkbox" type="checkbox" checked="">
                        <span class="ml-2">he, him, his</span>
                    </label>
                </div>
                <div>
                    <label class="inline-flex items-center">
                        <input class="form-checkbox" type="checkbox">
                        <span class="ml-2">she, her, hers</span>
                    </label>
                </div>
                <div>
                    <label class="inline-flex items-center">
                        <input class="form-checkbox" type="checkbox">
                        <span class="ml-2">they, them, theirs</span>
                    </label>
                </div>
                <div>
                    <label class="inline-flex items-center">
                        <input class="form-checkbox" type="checkbox">
                        <span class="ml-2">sie, hir, hirs</span>
                    </label>
                </div>
                <div class="col-span-2">
                    <label class="inline-flex w-full items-center">
                        <input class="form-checkbox" type="checkbox">
                        <span class="ml-2">Other:</span>
                        <input type="text" class="
                                bg-black
                                ml-2
                                mt-0
                                block
                                w-full
                                px-0.5
                                border-0 border-b-2 border-gray-200
                                focus:ring-0 focus:border-black" placeholder="">
                    </label>

                </div>
            </div>
        </div>
    </fieldset>

    <label class="block">
        <span class="text-gray-500">Email address</span>
        <input type="email" class="
              bg-black
              mt-0
              block
              w-full
              px-0.5
              border-0 border-b-2 border-gray-200
              focus:ring-0 focus:border-black
            " placeholder="name@example.com">
    </label>

    <label class="block">
        <span class="text-gray-700">Project description / Message</span>
        <textarea class="
              bg-black
              mt-0
              block
              w-full
              px-0.5
              border-0 border-b-2 border-gray-200
              focus:ring-0 focus:border-black
            " rows="4"></textarea>
    </label>

    <div class="block">
        <button class="rounded border-2 w-full py-2 hover:bg-white hover:text-black">Send</button>
    </div>

</div>