.top-navigation {
    li {
        @apply ml-3;
        
        a {
            @apply p-4;
            @apply block;

            
            border-top:1px solid transparent;
            border-bottom:2px solid transparent;

            &.active {
                border-top:1px solid white;
                border-bottom:2px solid white;
            }

            &:hover, &:focus, &:active {
                border-top:1px solid transparent;
                border-bottom:2px solid white;
            }

            &.lang-switch {
                @apply text-sm;
                
                margin-top:-5px;
            }
        }
    }
}